* {
  margin: 0;
  padding: 0;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: relative; */
}

section {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

.timePlay,
.timePause,
.timeStop {
  width: 85px;
  height: 30px;
  border: 2px solid #000000;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.circle {
  width: 18vw;
  height: 35vh;
  border-radius: 50%;
  border: 1.2px solid #000000;
  background-color: red;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

.paragraph {
  /* color: red; */
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
}

.time {
  color: #FFFFFF;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  position: inherit;
  top: 50px;

}